<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
		<link rel='stylesheet' href="/style.css" />
		<script type='text/javascript', src='https://code.angularjs.org/1.3.9/angular.js'></script>
		<script type='text/javascript', src='https://code.angularjs.org/1.3.9/angular-route.js'></script>
		<script type='text/javascript', src='https://code.angularjs.org/1.3.9/angular-resource.js'></script>
		<script type='text/javascript', src='https://code.angularjs.org/1.3.9/angular-animate.js'></script>
		<script src="/module.js"></script>
		<script src="/factory.js"></script>
		<script src="/controller.js"></script>
		<script src="/StatsFunctions.js"></script>
    </head>
    <body ng-app="StatisticsEngine">
	<section class="content" ng-controller="StatsEngine">
		<section class="align-text-center">
			<span class="header italicize bold">World Leading Statistical Engine</span>
		</section>
		<hr>
		<section class="content">
			<a href="#instructions">View Instructions</a>&nbsp;&nbsp;
			<a href="#jasmine">View Jasmine Tests</a>
		</section>
		<hr>
		<section class="content border">
			<section class="content">
				<section class="align-text-center">
					<h2>Choose a number:</h2>
					<input class="numberField align-text-center" type="number" min="0" value="0" ng-model="aNumber" />
					<br/><br/>
					<input type="button" value="Insert" class="button" ng-click="updateValues()" />&nbsp;
					<input type="button" value="Clear" class="button" ng-click="clearValues()" />&nbsp;
					<input type="button" value="Clear All" class="button" ng-click="clearAllValues()" />
					<span ng-show="noError != true" class="error" ng-animate="'animate'"><h3>Please enter a valid numerical value.</h3></span>
				</section>
			</section>
			<hr>
			<section class="content">
				<section class="align-text-center">
					<h2>Calculations:</h2>
				</section>
				<section class="content numberSection auto-overflow">
					<span class="categories"><span class="bold">Range:&nbsp;</span>{{range}}</span><br/>
					<span class="categories"><span class="bold">Median:&nbsp;</span>{{median}}</span><br/>
					<span class="categories"><span class="bold">Mean:&nbsp;</span>{{mean}}</span><br/>
					<span class="categories"><span class="bold">Population Standard Deviation:&nbsp;</span>{{PSD}}</span>
				</section>
			</section>
			<hr>
			<section class="content">
				<section class="align-text-center">
					<h2>Your Numbers:</h2>
				</section>
				<section class="content align-text-center align-text-vertically numberSection">
					<span class="bold" ng-show="numbers === ''">No numbers entered yet.</span>
					<h2><span class="bold" ng-show="numbers !== ''">{{numbers}}</span></h2>
				</section>
			</section>
		</section>
		<hr>
		<section id="instructions" class="content">
			<h3>Instructions</h3>
			<ol>
				<li>Select/Enter a number and press INSERT.</li>
				<li>Watch the <span class="italicize bold">World Leading Statistical Engine</span> do magic.</li>
				<li>Enjoy!</li>
				<li>Share with friends.</li>
			</ol>
		</section>
		<section id="jasmine" class="content">
			<h3>Jasmine Tests</h3>
			<p>Use the link "<span class="bold">localhost:3000/tests</span>" to view Jasmine tests.</p>
		</section>
	</section>
    </body>
</html>