<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>

    <link rel="shortcut icon" type="image/png" href="/lib/jasmine-2.1.3/jasmine_favicon.png">
    <link rel="stylesheet" href="/lib/jasmine-2.1.3/jasmine.css">

    <script src="/lib/jasmine-2.1.3/jasmine.js"></script>
    <script src="/lib/jasmine-2.1.3/jasmine-html.js"></script>
    <script src="/lib/jasmine-2.1.3/boot.js"></script>

    <!-- include source files here... -->
    <script src="/StatsFunctions.js"></script>

    <!-- include spec files here... -->
    <script src="/tests.js"></script>

</head>

<body>
</body>
</html>