body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	width: 90%;
	min-width: 450px;
	max-width: 650px;
	margin: 0 auto;
}

a {
	color: #00B7FF;
}

.button {
	height: 30px;
	border: 3px outset grey;
	font-size: 1.1em;
}

.numberField {
	width: 50%;
	height: 25px;
	font-size: 1.2em;
	border: 3px inset grey;
}

.align-text-center {
	text-align: center;
}

.italicize {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.content {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

.header {
	font-size: 200%;
}

.border {
	border: 5px outset grey;
}

.center {
	margin: 0 auto;
}

.numberSection {
	border: 3px inset grey;
	height: 100px;
	padding: 5px 10px;
	overflow-y: scroll;
	margin-bottom: 10px;
}

.auto-overflow {
	overflow-y: auto;
}

.categories {
	font-size: 1.3em;
}

.error {
	color: red;
	font-weight: bold;
}

.animate-enter {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}
 
.animate-enter.animate-enter-active {
	opacity: 1;
}

.align-text-vertically {
	vertical-align: middle;
}